.container {
  display: flex;
  height: calc(100vh - 64px); /* minus toolbar height */
}

.sidebar {
  width: 30%;
  border-right: 1px solid #f3f4db;
  padding: 1rem;
  overflow-y: auto;
}

.content {
  flex: 1;
  padding: 1rem;
}

mat-list-item.active {
  background: #68ebfc;
  border-left: 4px solid #00796b;
}
